body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(181, 239, 247);
}

* {
    box-sizing: border-box;
}


.container {
    padding: 16px;
    background-color: white;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

a {
    color: dodgerblue;
}

.signin {
    background-color: #f1f1f1;
    text-align: center;
}

.first  {
    list-style: none;
    padding: 0;
    }
    .first li {
    padding: 10px 30px;
    background: linear-gradient(to left, #f8ab8d 0%, white, #f8ab8d);
    border-bottom: 1px solid grey;
    color: #506a6b;
    font-size: 20px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0, .2);
    margin-bottom: 5px;
    }
.first li:last-child {
    border-bottom: none;
}
.btn{
    width:220px;
    height:65px;
    display:absolute;
    position: absolute;
    right: 400px;
    top: 30px;
    justify-content:center;
    align-items:center;
    background-color:#fff;
    font-size:18px;
    font-weight:700;
    border:1px solid rgba(0,0,0,.2);
    box-shadow:0 4px 15px rgba(0,0,0,.2);
    cursor:pointer;
 }
 .btn1{
    width:220px;
    height:65px;
    display:flex;
    position: absolute;
    right: 100px;
    top: 30px;
    justify-content:center;
    align-items:center;
    background-color:#fff;
    font-size:18px;
    font-weight:700;
    border:1px solid rgba(0,0,0,.2);
    box-shadow:0 4px 15px rgba(0,0,0,.2);
    cursor:pointer;
 }
 .btn2{
   width:220px;
   height:65px;
   display:flex;
   position: absolute;
   right: 100px;
   top: 30px;
   justify-content:center;
   align-items:center;
   background-color:#fff;
   font-size:18px;
   font-weight:700;
   border:1px solid rgba(0,0,0,.2);
   box-shadow:0 4px 15px rgba(0,0,0,.2);
   cursor:pointer;
}


 
header {
    text-align: justify;
    height: 8em;
    padding: 2em 5%;
    background: #5ceba8;
    color: #ffffff;
 }
 
 header::after {
    content: '';
    display: inline-block;
    width: 100%;
 }
 
 header > div,
 header > div::before,
 header nav,
 header > div h1 {
    display: inline-block;
    vertical-align: middle;

 }
 
 header > div {
    height: 100%;
 }
 
 header > div::before {
    content: '';
    height: 100%;
 }
 
 header > div h1 {
    font-size: 3em;
    font-style: italic;
 }
 
 header nav a {
    padding: 0 0.6em;
    white-space: nowrap;
    color: rgb(231, 20, 20);
    text-decoration: none;
 }
 
 header nav a:last-child {
    padding-right: 0;
 }

 .footer{
   margin: 0;
    min-height:180px;
    background-color:#303030;
    padding:45px 0 50px 0;
    color:#fff
 }
 #templatemo_footer_wrapper {
	width: 100%;
	background: #181818;
}

#templatemo_footer {
	width: 960px;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}

#templatemo_footer a {
	color: #6e6e6e;
}
.modal{
    position:fixed;
    top:0;left:0;
    z-index:1050;
    display:none;
    width:100%;
    height:100%;
    overflow:hidden;
    background-color:rgba(0,0,0,.5)
 }
 .modal__enter{
    position:fixed;
    top:0;left:0;
    z-index:1050;
    display:none;
    width:100%;
    height:100%;
    overflow:hidden;
    background-color:rgba(0,0,0,.5)
 }
 .modal__dialog{
    max-width:500px;
    margin:40px auto
 }
 .modal__content{
    position:relative;
    width:100%;
    padding:40px;
    background-color:#fff;
    border:1px solid rgba(0,0,0,.2);
    border-radius:4px;
    max-height:80vh;
    overflow-y:auto
 }   
       
 .modal__close{
    position:absolute;
    top:8px;
    right:14px;
    font-size:30px;
    color:#000;
    opacity:.5;
    font-weight:700;
    border:none;
    background-color:transparent;
    cursor:pointer
 }
 .modal__title{
    text-align:center;font-size:22px;
    text-transform:uppercase
 }
 .modal__input{
    display:block;
    margin:20px auto 20px auto;
    width:280px;
    height:50px;
    background:#fff;
    box-shadow:0 4px 15px rgba(0,0,0,.2);
    border:none;
    font-size:18px;
    text-align:center;
    padding:0 20px;
    outline:0
 }
 .modal .btn{
    display:block;
    width:280px;
    margin:0 auto'
 }
 .show{
    display:block
 }
 .hide{
    display:none
 }
 .fade{
    animation-name: fade;
    animation-duration: 1.5s;
 }
 @keyframes fade{
    from{
       opacity: 0.1;
    }
    to{
       opacity: 1;
    }
 }   
table {
   border-spacing: 10px 10px;
}

a {
   color: rgba(0,0,0,.5);
   text-decoration:none;
 }

 td{
    margin-bottom: 10;
 }
 .select-css { 
 
   font-size: 16px; 
   font-family: sans-serif; 
   font-weight: 700; 
   color: #444; 
   right: 0px;
   top: 0px;
   line-height: 1.3; 
   align-items:center;
   padding: .6em 1.4em .5em .8em; width: 100%; 
   max-width: 100%; 
   box-sizing: border-box; 
   margin: -10; 
   border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04); 
   border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff; 
   background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); 
   background-repeat: no-repeat, repeat;
   background-position: right .7em top 50%, 0 0;
   background-size: .65em auto, 100%; 
   } 
    .select-css::-ms-expand { display: none; } 
    .select-css:hover { border-color: #888; } 
    .select-css:focus { border-color: #aaa; 
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring; 
   color: #222;
    outline: none; 
   } 
    .select-css option { font-weight:normal; } 
    *[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css { 
   background-position: left .7em top 50%, 0 0; 
   padding: .6em .8em .5em 1.4em; 
   }
   p{
   width:100px;
    height:65px;
    display:absolute;
    position: absolute;
    right: 400px;
    top: 50px;
    justify-content:center;
    align-items:center;
    font-size:18px;
    color:slateblue;
   }